<h1>Wishlist</h1>


<table class="table">
	<tr>
		<th>Title</th>
		<th>Cost</th>
		<th>Location</th>
	</tr>
	<tr *ngFor="let item of wishlist">
		<td>
			{{item.title}}
		</td>
		<td>
			{{item.cost | currency}}
		</td>
		<td>
			<a [href]="item.where_url">{{item.where_location}}</a>
		</td>
	</tr>
</table>
