<h1>
	27 RCACS Ground School
</h1>
<h1>
	<small>
		2017 - 2018
	</small>
</h1>

<p-panel header="Course Description" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
	The 27 RCACS Ground School program is designed and intended to develop Glider Pilot Scholarship, and Power Pilot Scholarship candidates. The program focuses on {{courseSubjects.length}} categories:
	<span *ngFor="let subject of courseSubjects; let i = index">{{subject}}<span *ngIf="i == courseSubjects.length - 2">, and </span><span *ngIf="i < courseSubjects.length - 2">, </span>
	</span>. By completing this course, cadets will have a base understanding for aviation and will be able to continue to apply for the Royal Canadian Air Cadet GPS and PPS courses held each summer across Canada.
</p-panel>

<mat-accordion *ngIf="!!lectures && lectures.length > 0 && !!MONTH">

	<mat-expansion-panel *ngFor="let lecture of lectures; let i = index">

			<mat-expansion-panel-header>

				<mat-panel-title>
					Week {{lectures.length - i}} - {{lecture.date.getDate() + '/' + MONTH[lecture.date.getMonth()] + '/' + lecture.date.getFullYear()}}
				</mat-panel-title>

				<mat-panel-description *ngIf="!!(lecture.description)">
					{{lecture.description}}
				</mat-panel-description>

			</mat-expansion-panel-header>

			<ul>
				<li *ngFor="let item of lecture.content">
					<a *ngIf="!!(item.href)" [href]="item.href">
						{{item.text}}
					</a>
					<span *ngIf="!(item.href)"> {{item.text}} </span>
				</li>
			</ul>

	</mat-expansion-panel>

</mat-accordion>
