<h1>Training</h1>

<div class="row">
	<div class="col-md-6 col-sm-12" *ngFor="let course of trainingCourses">
		<mat-card>

			<mat-card-header>
				<mat-card-title>{{course.name}}</mat-card-title>
				<mat-card-subtitle>{{course.organization}}</mat-card-subtitle>
			</mat-card-header>

			<mat-card-content [innerHTML]="course.description">
			</mat-card-content>

			<mat-card-actions>
				<a>
					<button mat-button color="primary" [routerLink]="['./course', course.courseId]">ENTER</button>
				</a>
			</mat-card-actions>

		</mat-card>
	</div>
</div>
