<!-- Opening Line -->
<ng-container>
	<p class="lead" *ngIf="coverLetterMode == COVERLETTERMODE.DEFAULT">
		To whom it may concern,
	</p>

	<p class="lead" *ngIf="coverLetterMode == COVERLETTERMODE.DIGITALECHIDNA">
		Dear Emily Galan and Yan Zhang,
	</p>
</ng-container>

<!-- Leading paragraph -->
<ng-container>
	<p *ngIf="coverLetterMode != COVERLETTERMODE.DEFAULT">
		I am interested in the position of {{jobPositionName}} at {{coverLetterMode}}. I understand that {{coverLetterMode}} has a dynamic workplace with an amicable atmosphere, and I would love the opportunity to be a part of the hard working and dedicated team of developers in the company.
	</p>
</ng-container>

<p *ngIf="coverLetterMode == COVERLETTERMODE.DIGITALECHIDNA">

</p>

<!-- Experience -->
<p>
	I am a recent graduate from the University of Western Ontario, Software Engineering program. My academic achievements are excentuated by numerous years of practical work place experience. I am experienced in developing software as a full stack developer with a focus on using PHP, MySQL, Angular 2+, Firebase, and Node.js. <span class="d-print-none">As an example of my work, this website has been developed using PHP, MySql, and Angular 2+.</span>
</p>

<!-- Closing paragraph -->
<ng-container>

	<p *ngIf="coverLetterMode != COVERLETTERMODE.DEFAULT">
		I would welcome the opportunity to discuss my application with you in person, as well as answer any questions about myself and my previous experiences. Thank you for taking the time to read my letter, and I look forward to hearing from you.
	</p>

	<p class="d-print-none" *ngIf="coverLetterMode == COVERLETTERMODE.DEFAULT">
		This web page has been generated automatically based on my past experiences. Feel free to explore and use the site at your leisure!
	</p>

</ng-container>

<!-- Closing Line -->

<ng-container>
	<p class="lead" *ngIf="coverLetterMode == COVERLETTERMODE.DEFAULT">
		Best regards,
	</p>

	<p *ngIf="coverLetterMode == COVERLETTERMODE.DIGITALECHIDNA">
		Yours sincerely,
	</p>

	<p class="lead">
		Andrew Lampert
	</p>
</ng-container>
