<ng-container *ngIf="!!course">
	<h1>
		{{course.name}}
	</h1>

	<p-panel header="Course Description" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
		{{course.description}}
	</p-panel>

	<ng-container *ngIf="!course.modules || course.modules.length == 0">
		<div class="alert alert-warning" role="alert">
			No modules available yet!
		</div>
	</ng-container>

	<mat-accordion *ngIf="!!course.modules && course.modules.length > 0">

		<mat-expansion-panel *ngFor="let module of course.modules; let i = index">

			<mat-expansion-panel-header>

				<mat-panel-title>
					{{module.name}}
				</mat-panel-title>

				<mat-panel-description *ngIf="!!(module.description)">
					{{module.description}}
				</mat-panel-description>

			</mat-expansion-panel-header>

			<ul *ngIf="module.content">
				<li *ngFor="let item of module.content">
					<ng-container *ngIf="!!item">
						<a *ngIf="!!item.href" [href]="item.href">
							{{item.name}}
						</a>
						<span *ngIf="!item.href"> {{item.name}} </span>
					</ng-container>
				</li>
			</ul>

		</mat-expansion-panel>

	</mat-accordion>

</ng-container>
