/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway|Vidaloka');

body{
    font-family: 'Raleway', sans-serif;
}

div .jumbotron > h1.display-3{
    font-family: 'Vidaloka', sans-serif;
}
